body{background-color:#929e9f 
}

.photo {
	max-width: 300px;
	border:10px solid #e99c25;
}
.content_location{
	width:960px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-align: center;
	color: #3c1c6a
}